.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-blue {
  background-color: blue;
  
}

.btn-gray {
  background-color: gray;
  
}
.btn-gray:hover {
  background-color: rgb(66, 5, 5);
  
}

.sort-button {
  float: right; 
  font-size: 16px;
  background: none;
  border: none; 
  color: rgb(40, 158, 231); 
  padding: 10px 20px; 
  cursor: pointer;
  margin-top: -14px;
  margin-right: 33px; 
}

.nav__btn{
padding-top: 10px;
padding-bottom: 13px;
padding-right: 15px;
padding-left: 15px;
background: var(--main-color);
border-style: none;
color: var(--bg-color);
font-weight: 400;
border-radius: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
